# Server
PACIFICA_API_KEY=
PACIFICA_PRIVATE_KEY=
BUILDER_CODE=ARGUS_BUILDER_001
PACIFICA_WS_URL=wss://app.pacifica.fi/ws
PACIFICA_REST_URL=https://app.pacifica.fi/api
PORT=8080

# Frontend
NEXT_PUBLIC_BACKEND_WS=ws://localhost:8080/ws/client
NEXT_PUBLIC_BACKEND_REST=http://localhost:8080
